/* src/App.css */
*, html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
    background-color: #03171d;
    color: #abbfcb;
    background-image: url('bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-blend-mode: overlay;
}

#cursor {
    position: fixed;
    width: 800px;
    height: 800px;
    background: radial-gradient(circle closest-side, rgba(255, 255, 255, 1), transparent);
    pointer-events: none;
    transform: translate(-50%, -50%);
    mix-blend-mode: overlay;
    z-index: 101;
}

/* src/App.css */
.App {
    display: flex;
    flex-direction: column; /* Change to column to stack sidebar on top */
    height: 100vh;
    max-width: 1500px;
    margin: 0 auto;
    overflow: hidden;
}

@media screen and (min-width: 1300px) {
    .App {
        flex-direction: row; /* Revert to row for larger screens */
    }
}

@media screen and (max-width: 1300px) {
    .App {
        flex-direction: column; /* Stack sidebar on top */
        height: auto;
    }

    .content {
        padding-left: 0;
        overflow-y: visible; /* Content and sidebar scroll together */
    }
}

