/* src/components/AboutMe.css */
#about {
    color: #d1e3f1;
}

#about p {
    font-size: 1.2rem;
    margin-top: 0;
    line-height: 1.6;
    color: #adb4bf;
    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

a {
    color: #ffffff;
    text-decoration: none;
}

/* mobile version smaller fonts */

@media screen and (max-width: 1300px) {
    #about h3 {
        font-size: 1.2rem;
        margin-bottom: 30px;
    }

    #about p {
        font-size: 1.1rem;
        margin-left: 25px;

    }
}








