/* src/components/Content.css */
.content {
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    text-align: justify;
    padding-right: 100px;
}


@media screen and (max-width: 1300px) {
    .content {
        padding-left:100px;
        padding-right: 100px;
    }

    .sticky-title {
        position: sticky;
        top: 0;
        z-index: 400;
        background-color: rgba(6, 25, 61, 0.9);
        padding-top: 10px;
        border-radius: 5px;
        padding-bottom: 10px;
    }

}
