/* src/components/Content.css */
.content {
    flex-grow: 1;
    position: relative;
    overflow-y: auto;
    text-align: justify;
    padding-right: 100px;

}

.sticky-title {
    font-size: 4rem;
    color: #d1e3f1;
    margin-bottom: 30px;

    text-shadow: 0 5px 15px rgba(0, 0, 0, 0.6);
    padding-top: 70px;
}


@media screen and (max-width: 1300px) {


    .content {
        padding-left: 0;
        padding-right: 20px;
        width: 90vw;
        align-self: center;
    }

    .sticky-title {
        position: relative;
        top: 0;
        z-index: 400;
        padding-top: 10px;
        border-radius: 5px;
        padding-bottom: 10px;
        font-size: 2.5rem;
        padding-left: 20px;
    }
}




