/* src/components/Sidebar.css */
.sidebar-container {
    position: sticky;
    padding-top: 80px;
    margin-right: 100px;
    margin-left: 100px;
    top: 0;
    height: 100vh;
    overflow-y: auto; /* Allow scrolling if content exceeds height */
    display: flex;
    flex-direction: column;

    width: 100%;
    overflow-x: hidden; /* Prevent horizontal overflow */
}

.sidebar {
    display: flex;
    flex-direction: column;
    text-align: justify;
    overflow-y: auto;
    width: 100%;
    padding: 20px;
}

@media screen and (max-width: 1300px) {


    .sidebar-container {
        position: relative;
        height: auto;
        padding-top: 100px;
        align-self: center;
        width: 90vw;
        max-width: 100vw; /* Ensure it fits within the viewport width */
        overflow-x: hidden; /* Prevent horizontal overflow */
        margin: 0;

    }

    .sidebar {
        flex-direction: column;
        overflow-x: hidden; /* Prevent horizontal scrolling */
        white-space: normal; /* Ensure text wraps */
    }
}