/* src/components/SocialsPanel.css */
.socials-panel {
    display: flex;
    gap: 20px;
    margin-top: 40px;
}

.socials-panel a {
    color: #ffffff;
    text-decoration: none;
}

.socials-panel a:hover {
    color: #ff4c60;
}

.socials-panel img {
    width: 24px;
    height: 24px;
}